# Fixing the Database 
##### After loading the data from the CVS into the SQL SERVER a few problems occured: Wrong data-types causing issues with queries, Nulls values also affecting queries and finally string characters of nominal type.
##### In thie notebook I fixed the columns data-types from nvchar to float64, Nulls were replaced with Zeros and finally a mapping from the nominal type to int.
##### To perform the fixing steps a dummy database of the same type of how it should be was created on SQL SERVER Microsoft prior. This database table was used to test the connection and how things should look and be like.

###### Note: The data was obtained from a CSV and converted to SQL. The below steps were done to be able to perform the SQL queries for the actualy project.

In [55]:
import time
import pyodbc
import numpy as np
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plot
import sqlalchemy

%matplotlib inline

#### Started by connecting to the dummy database

In [48]:
start = time.time()
#connection to server
#server info
driver = 'SQL Server'
server = 'LAPTOP-DE8P4OSA'
database = 'COv3'
table ='dbo.Covid_19d'
tcon = 'yes'

#connection
cnn = pyodbc.connect(driver = '{SQL Server}',
                      host = server,
                      database = database,
                      trusted_connection = tcon)
total_start_time = time.time()
end = time.time()
print('Connection SQL Server Time ', end - start)

Connection SQL Server Time  4.159135818481445

#### Checking the data columns

In [50]:
cursor = cnn.cursor()
columns_in_db = [row.column_name for row in cursor.columns(table=table.split('.')[-1])]
print(columns_in_db)

['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests', 'total_tests_per_thousand', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'new_vaccinations', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred', 'new_vaccinations_smoothed_per_million', 'stringency_index', 'population', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index', 'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'excess_mortality', 'excess_mortality_cumulative_per_million']

#### Checking the connection and queries

In [4]:
query = "select * from "+table+""
output = pd.read_sql(query,cnn)

In [52]:
output.head()

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, new_tests, total_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, total_boosters_per_hundred, new_vaccinations_smoothed_per_million, stringency_index, population, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index, excess_mortality_cumulative_absolute, excess_mortality_cumulative, excess_mortality, excess_mortality_cumulative_per_million]
Index: []

[0 rows x 65 columns]

#### Changing the types of the columns to Float

In [7]:
for i in columns_in_db[5:]:
    output[i] = output[i].astype(np.float64)
output.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 65 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   iso_code                                 0 non-null      object
 1   continent                                0 non-null      object
 2   location                                 0 non-null      object
 3   date                                     0 non-null      object
 4   total_cases                              0 non-null      object
 5   new_cases                                0 non-null      float64
 6   new_cases_smoothed                       0 non-null      float64
 7   total_deaths                             0 non-null      float64
 8   new_deaths                               0 non-null      float64
 9   new_deaths_smoothed                      0 non-null      float64
 10  total_cases_per_million                  0 non-null      float64
 11  new_cases_per_million                    0 non-null      float64
 12  new_cases_smoothed_per_million           0 non-null      float64
 13  total_deaths_per_million                 0 non-null      float64
 14  new_deaths_per_million                   0 non-null      float64
 15  new_deaths_smoothed_per_million          0 non-null      float64
 16  reproduction_rate                        0 non-null      float64
 17  icu_patients                             0 non-null      float64
 18  icu_patients_per_million                 0 non-null      float64
 19  hosp_patients                            0 non-null      float64
 20  hosp_patients_per_million                0 non-null      float64
 21  weekly_icu_admissions                    0 non-null      float64
 22  weekly_icu_admissions_per_million        0 non-null      float64
 23  weekly_hosp_admissions                   0 non-null      float64
 24  weekly_hosp_admissions_per_million       0 non-null      float64
 25  new_tests                                0 non-null      float64
 26  total_tests                              0 non-null      float64
 27  total_tests_per_thousand                 0 non-null      float64
 28  new_tests_per_thousand                   0 non-null      float64
 29  new_tests_smoothed                       0 non-null      float64
 30  new_tests_smoothed_per_thousand          0 non-null      float64
 31  positive_rate                            0 non-null      float64
 32  tests_per_case                           0 non-null      float64
 33  tests_units                              0 non-null      float64
 34  total_vaccinations                       0 non-null      float64
 35  people_vaccinated                        0 non-null      float64
 36  people_fully_vaccinated                  0 non-null      float64
 37  total_boosters                           0 non-null      float64
 38  new_vaccinations                         0 non-null      float64
 39  new_vaccinations_smoothed                0 non-null      float64
 40  total_vaccinations_per_hundred           0 non-null      float64
 41  people_vaccinated_per_hundred            0 non-null      float64
 42  people_fully_vaccinated_per_hundred      0 non-null      float64
 43  total_boosters_per_hundred               0 non-null      float64
 44  new_vaccinations_smoothed_per_million    0 non-null      float64
 45  stringency_index                         0 non-null      float64
 46  population                               0 non-null      float64
 47  population_density                       0 non-null      float64
 48  median_age                               0 non-null      float64
 49  aged_65_older                            0 non-null      float64
 50  aged_70_older                            0 non-null      float64
 51  gdp_per_capita                           0 non-null      float64
 52  extreme_poverty                          0 non-null      float64
 53  cardiovasc_death_rate                    0 non-null      float64
 54  diabetes_prevalence                      0 non-null      float64
 55  female_smokers                           0 non-null      float64
 56  male_smokers                             0 non-null      float64
 57  handwashing_facilities                   0 non-null      float64
 58  hospital_beds_per_thousand               0 non-null      float64
 59  life_expectancy                          0 non-null      float64
 60  human_development_index                  0 non-null      float64
 61  excess_mortality_cumulative_absolute     0 non-null      float64
 62  excess_mortality_cumulative              0 non-null      float64
 63  excess_mortality                         0 non-null      float64
 64  excess_mortality_cumulative_per_million  0 non-null      float64
dtypes: float64(60), object(5)
memory usage: 0.0+ bytes

### Connecting to the actual database

In [35]:
start = time.time()
#connection to server
#server info
driver = 'SQL Server'
server = 'LAPTOP-DE8P4OSA'
database_in = 'coronaTEST'
table_in ='dbo.tableData'
tcon = 'yes'

#connection
cnn_in = pyodbc.connect(driver = '{SQL Server}',
                      host = server,
                      database = database_in,
                      trusted_connection = tcon)
total_start_time = time.time()
end = time.time()
print('Connection SQL Server Time ', end - start)

Connection SQL Server Time  4.106926441192627

#### Getting the data from the database

In [36]:
#query_in = "select TOP (10) [iso_code],[continent],[location],[date],[total_cases],[new_cases],[new_cases_smoothed],[total_deaths],[new_deaths],[new_deaths_smoothed],[total_cases_per_million],[new_cases_per_million],[new_cases_smoothed_per_million],[total_deaths_per_million],[new_deaths_per_million],[new_deaths_smoothed_per_million],[reproduction_rate],[icu_patients],[icu_patients_per_million],[hosp_patients],[hosp_patients_per_million],[weekly_icu_admissions],[weekly_icu_admissions_per_million],[weekly_hosp_admissions],[weekly_hosp_admissions_per_million],[new_tests],[total_tests],[total_tests_per_thousand],[new_tests_per_thousand],[new_tests_smoothed],[new_tests_smoothed_per_thousand],[positive_rate],[tests_per_case],[tests_units],[total_vaccinations],[people_vaccinated],[people_fully_vaccinated],[total_boosters],[new_vaccinations],[new_vaccinations_smoothed],[total_vaccinations_per_hundred],[people_vaccinated_per_hundred],[people_fully_vaccinated_per_hundred],[total_boosters_per_hundred],[new_vaccinations_smoothed_per_million],[stringency_index],[population],[population_density],[median_age],[aged_65_older],[aged_70_older],[gdp_per_capita],[extreme_poverty],[cardiovasc_death_rate],[diabetes_prevalence],[female_smokers],[male_smokers],[handwashing_facilities],[hospital_beds_per_thousand],[life_expectancy],[human_development_index],[excess_mortality_cumulative_absolute],[excess_mortality_cumulative],[excess_mortality],[excess_mortality_cumulative_per_million] FROM "+table_in+""
query_in = "select * FROM " + table_in + ""
output_in = pd.read_sql(query_in,cnn_in)

In [42]:
cursor_in = cnn_in.cursor()
columns_in_db_in = [row.column_name for row in cursor_in.columns(table=table_in.split('.')[-1])]
print(columns_in_db_in)

['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests', 'total_tests_per_thousand', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'new_vaccinations', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred', 'new_vaccinations_smoothed_per_million', 'stringency_index', 'population', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index', 'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'excess_mortality', 'excess_mortality_cumulative_per_million']

In [11]:
output_in.head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,None,None,NaN,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,None,None,NaN,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None

#### Checking the Nulls and types in the data

In [12]:
output_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131917 entries, 0 to 131916
Data columns (total 65 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   iso_code                                 131917 non-null  object
 1   continent                                123482 non-null  object
 2   location                                 131917 non-null  object
 3   date                                     131917 non-null  datetime64[ns]
 4   total_cases                              124789 non-null  float64
 5   new_cases                                124787 non-null  float64
 6   new_cases_smoothed                       123744 non-null  float64
 7   total_deaths                             113696 non-null  object
 8   new_deaths                               113892 non-null  object
 9   new_deaths_smoothed                      123744 non-null  float64
 10  total_cases_per_million                  124148 non-null  float64
 11  new_cases_per_million                    124146 non-null  float64
 12  new_cases_smoothed_per_million           123108 non-null  float64
 13  total_deaths_per_million                 113068 non-null  object
 14  new_deaths_per_million                   113264 non-null  object
 15  new_deaths_smoothed_per_million          123108 non-null  float64
 16  reproduction_rate                        104056 non-null  object
 17  icu_patients                             15785 non-null   object
 18  icu_patients_per_million                 15785 non-null   object
 19  hosp_patients                            18502 non-null   object
 20  hosp_patients_per_million                18502 non-null   object
 21  weekly_icu_admissions                    1280 non-null    object
 22  weekly_icu_admissions_per_million        1280 non-null    object
 23  weekly_hosp_admissions                   2150 non-null    object
 24  weekly_hosp_admissions_per_million       2150 non-null    object
 25  new_tests                                54811 non-null   object
 26  total_tests                              55003 non-null   object
 27  total_tests_per_thousand                 55003 non-null   object
 28  new_tests_per_thousand                   54811 non-null   object
 29  new_tests_smoothed                       66363 non-null   object
 30  new_tests_smoothed_per_thousand          66363 non-null   object
 31  positive_rate                            62363 non-null   object
 32  tests_per_case                           61706 non-null   object
 33  tests_units                              68363 non-null   object
 34  total_vaccinations                       32888 non-null   object
 35  people_vaccinated                        31374 non-null   object
 36  people_fully_vaccinated                  28370 non-null   object
 37  total_boosters                           5614 non-null    object
 38  new_vaccinations                         27397 non-null   object
 39  new_vaccinations_smoothed                58468 non-null   object
 40  total_vaccinations_per_hundred           32888 non-null   object
 41  people_vaccinated_per_hundred            31374 non-null   object
 42  people_fully_vaccinated_per_hundred      28370 non-null   object
 43  total_boosters_per_hundred               5614 non-null    object
 44  new_vaccinations_smoothed_per_million    58468 non-null   object
 45  stringency_index                         107901 non-null  float64
 46  population                               130980 non-null  float64
 47  population_density                       119437 non-null  float64
 48  median_age                               113860 non-null  float64
 49  aged_65_older                            112600 non-null  float64
 50  aged_70_older                            113238 non-null  float64
 51  gdp_per_capita                           114601 non-null  float64
 52  extreme_poverty                          76646 non-null   object
 53  cardiovasc_death_rate                    114116 non-null  float64
 54  diabetes_prevalence                      117824 non-null  float64
 55  female_smokers                           88899 non-null   object
 56  male_smokers                             87613 non-null   object
 57  handwashing_facilities                   57428 non-null   float64
 58  hospital_beds_per_thousand               103706 non-null  float64
 59  life_expectancy                          122639 non-null  float64
 60  human_development_index                  114212 non-null  float64
 61  excess_mortality_cumulative_absolute     4623 non-null    object
 62  excess_mortality_cumulative              4623 non-null    object
 63  excess_mortality                         4623 non-null    object
 64  excess_mortality_cumulative_per_million  4623 non-null    object
dtypes: datetime64[ns](1), float64(21), object(43)
memory usage: 65.4+ MB

#### Removing the Nulls

In [13]:
output_in = output_in.replace(np.nan, 0)
output_in = output_in.fillna(0)

In [14]:
output_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131917 entries, 0 to 131916
Data columns (total 65 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   iso_code                                 131917 non-null  object
 1   continent                                131917 non-null  object
 2   location                                 131917 non-null  object
 3   date                                     131917 non-null  datetime64[ns]
 4   total_cases                              131917 non-null  float64
 5   new_cases                                131917 non-null  float64
 6   new_cases_smoothed                       131917 non-null  float64
 7   total_deaths                             131917 non-null  object
 8   new_deaths                               131917 non-null  object
 9   new_deaths_smoothed                      131917 non-null  float64
 10  total_cases_per_million                  131917 non-null  float64
 11  new_cases_per_million                    131917 non-null  float64
 12  new_cases_smoothed_per_million           131917 non-null  float64
 13  total_deaths_per_million                 131917 non-null  object
 14  new_deaths_per_million                   131917 non-null  object
 15  new_deaths_smoothed_per_million          131917 non-null  float64
 16  reproduction_rate                        131917 non-null  object
 17  icu_patients                             131917 non-null  object
 18  icu_patients_per_million                 131917 non-null  object
 19  hosp_patients                            131917 non-null  object
 20  hosp_patients_per_million                131917 non-null  object
 21  weekly_icu_admissions                    131917 non-null  object
 22  weekly_icu_admissions_per_million        131917 non-null  object
 23  weekly_hosp_admissions                   131917 non-null  object
 24  weekly_hosp_admissions_per_million       131917 non-null  object
 25  new_tests                                131917 non-null  object
 26  total_tests                              131917 non-null  object
 27  total_tests_per_thousand                 131917 non-null  object
 28  new_tests_per_thousand                   131917 non-null  object
 29  new_tests_smoothed                       131917 non-null  object
 30  new_tests_smoothed_per_thousand          131917 non-null  object
 31  positive_rate                            131917 non-null  object
 32  tests_per_case                           131917 non-null  object
 33  tests_units                              131917 non-null  object
 34  total_vaccinations                       131917 non-null  object
 35  people_vaccinated                        131917 non-null  object
 36  people_fully_vaccinated                  131917 non-null  object
 37  total_boosters                           131917 non-null  object
 38  new_vaccinations                         131917 non-null  object
 39  new_vaccinations_smoothed                131917 non-null  object
 40  total_vaccinations_per_hundred           131917 non-null  object
 41  people_vaccinated_per_hundred            131917 non-null  object
 42  people_fully_vaccinated_per_hundred      131917 non-null  object
 43  total_boosters_per_hundred               131917 non-null  object
 44  new_vaccinations_smoothed_per_million    131917 non-null  object
 45  stringency_index                         131917 non-null  float64
 46  population                               131917 non-null  float64
 47  population_density                       131917 non-null  float64
 48  median_age                               131917 non-null  float64
 49  aged_65_older                            131917 non-null  float64
 50  aged_70_older                            131917 non-null  float64
 51  gdp_per_capita                           131917 non-null  float64
 52  extreme_poverty                          131917 non-null  object
 53  cardiovasc_death_rate                    131917 non-null  float64
 54  diabetes_prevalence                      131917 non-null  float64
 55  female_smokers                           131917 non-null  object
 56  male_smokers                             131917 non-null  object
 57  handwashing_facilities                   131917 non-null  float64
 58  hospital_beds_per_thousand               131917 non-null  float64
 59  life_expectancy                          131917 non-null  float64
 60  human_development_index                  131917 non-null  float64
 61  excess_mortality_cumulative_absolute     131917 non-null  object
 62  excess_mortality_cumulative              131917 non-null  object
 63  excess_mortality                         131917 non-null  object
 64  excess_mortality_cumulative_per_million  131917 non-null  object
dtypes: datetime64[ns](1), float64(21), object(43)
memory usage: 65.4+ MB

#### Getting the unique type of the 'test_units' column to build the mapping

In [15]:
output_in["tests_units"].unique()

array([0, 'tests performed', 'samples tested', 'people tested',
       'units unclear'], dtype=object)

#### Making of the mapping and replacing the values using the mapping

In [16]:
mapping = {'tests performed':1, 'samples tested':2, 'people tested':3, 'units unclear':4}
output_in.replace({'tests_units': mapping}, inplace = True)
output_in["tests_units"].unique()

array([0, 1, 2, 3, 4], dtype=int64)

#### Changing the data-types of the columns wanted to Float: All columns were changed to Float except the first 4(iso_type, continent, location and date)

In [17]:
for i in columns_in_db[5:]:
    output_in[i] = output_in[i].astype(np.float64)
output_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131917 entries, 0 to 131916
Data columns (total 65 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   iso_code                                 131917 non-null  object
 1   continent                                131917 non-null  object
 2   location                                 131917 non-null  object
 3   date                                     131917 non-null  datetime64[ns]
 4   total_cases                              131917 non-null  float64
 5   new_cases                                131917 non-null  float64
 6   new_cases_smoothed                       131917 non-null  float64
 7   total_deaths                             131917 non-null  float64
 8   new_deaths                               131917 non-null  float64
 9   new_deaths_smoothed                      131917 non-null  float64
 10  total_cases_per_million                  131917 non-null  float64
 11  new_cases_per_million                    131917 non-null  float64
 12  new_cases_smoothed_per_million           131917 non-null  float64
 13  total_deaths_per_million                 131917 non-null  float64
 14  new_deaths_per_million                   131917 non-null  float64
 15  new_deaths_smoothed_per_million          131917 non-null  float64
 16  reproduction_rate                        131917 non-null  float64
 17  icu_patients                             131917 non-null  float64
 18  icu_patients_per_million                 131917 non-null  float64
 19  hosp_patients                            131917 non-null  float64
 20  hosp_patients_per_million                131917 non-null  float64
 21  weekly_icu_admissions                    131917 non-null  float64
 22  weekly_icu_admissions_per_million        131917 non-null  float64
 23  weekly_hosp_admissions                   131917 non-null  float64
 24  weekly_hosp_admissions_per_million       131917 non-null  float64
 25  new_tests                                131917 non-null  float64
 26  total_tests                              131917 non-null  float64
 27  total_tests_per_thousand                 131917 non-null  float64
 28  new_tests_per_thousand                   131917 non-null  float64
 29  new_tests_smoothed                       131917 non-null  float64
 30  new_tests_smoothed_per_thousand          131917 non-null  float64
 31  positive_rate                            131917 non-null  float64
 32  tests_per_case                           131917 non-null  float64
 33  tests_units                              131917 non-null  float64
 34  total_vaccinations                       131917 non-null  float64
 35  people_vaccinated                        131917 non-null  float64
 36  people_fully_vaccinated                  131917 non-null  float64
 37  total_boosters                           131917 non-null  float64
 38  new_vaccinations                         131917 non-null  float64
 39  new_vaccinations_smoothed                131917 non-null  float64
 40  total_vaccinations_per_hundred           131917 non-null  float64
 41  people_vaccinated_per_hundred            131917 non-null  float64
 42  people_fully_vaccinated_per_hundred      131917 non-null  float64
 43  total_boosters_per_hundred               131917 non-null  float64
 44  new_vaccinations_smoothed_per_million    131917 non-null  float64
 45  stringency_index                         131917 non-null  float64
 46  population                               131917 non-null  float64
 47  population_density                       131917 non-null  float64
 48  median_age                               131917 non-null  float64
 49  aged_65_older                            131917 non-null  float64
 50  aged_70_older                            131917 non-null  float64
 51  gdp_per_capita                           131917 non-null  float64
 52  extreme_poverty                          131917 non-null  float64
 53  cardiovasc_death_rate                    131917 non-null  float64
 54  diabetes_prevalence                      131917 non-null  float64
 55  female_smokers                           131917 non-null  float64
 56  male_smokers                             131917 non-null  float64
 57  handwashing_facilities                   131917 non-null  float64
 58  hospital_beds_per_thousand               131917 non-null  float64
 59  life_expectancy                          131917 non-null  float64
 60  human_development_index                  131917 non-null  float64
 61  excess_mortality_cumulative_absolute     131917 non-null  float64
 62  excess_mortality_cumulative              131917 non-null  float64
 63  excess_mortality                         131917 non-null  float64
 64  excess_mortality_cumulative_per_million  131917 non-null  float64
dtypes: datetime64[ns](1), float64(61), object(3)
memory usage: 65.4+ MB

#### Connecting to the Final databse base to be use in the project

In [27]:
driver = 'SQL Server'
server = 'LAPTOP-DE8P4OSA'
database = 'COv3'
table ='dbo.Covid_19'
tcon = 'yes'

engine = sqlalchemy.create_engine(f'mssql+pyodbc://{server}/{database}?trusted_connection={tcon}&driver={driver}')

#### Pushing the data to the database

In [54]:
output_in.to_sql(table, engine, if_exists='append')
print("Done")

Done

#### Checking the lengnth of the 'should be' with the 'actual'

In [28]:
len(columns_in_db)#Size the data should be

65

In [43]:
len(columns_in_db_in)#Actual size after the fixing steps

65

In [44]:
output_in.describe()

,total_cases,new_cases,new_cases_smoothed,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,new_deaths_smoothed_per_million,stringency_index,population,...,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,1.247890e+05,124787.000000,123744.00000,123744.000000,124148.000000,124146.000000,123108.000000,123108.000000,107901.000000,1.309800e+05,...,113860.000000,112600.000000,113238.000000,114601.000000,114116.000000,117824.000000,57428.000000,103706.000000,122639.000000,114212.000000
mean,2.023953e+06,8339.662048,8363.35886,168.757136,19473.706358,85.814654,85.774370,1.442407,56.406754,1.576538e+08,...,30.500705,8.745427,5.532704,19233.466519,259.967348,8.037243,50.868132,3.029859,73.258118,0.726236
std,1.156084e+07,43505.677525,43024.44986,818.524925,32359.712744,197.891796,167.404888,3.086955,20.633144,7.289346e+08,...,9.116180,6.183684,4.216617,20064.364866,119.836195,4.307673,31.821927,2.455862,7.533214,0.150046
min,1.000000e+00,-74347.000000,-6223.00000,-232.143000,0.001000,-3125.829000,-272.971000,-10.844000,0.000000,4.700000e+01,...,15.100000,1.144000,0.526000,661.240000,79.370000,0.990000,1.188000,0.100000,53.280000,0.394000
25%,2.363000e+03,3.000000,10.28600,0.143000,404.954000,0.331000,1.655000,0.003000,42.590000,2.078723e+06,...,22.200000,3.466000,2.063000,4449.898000,168.711000,5.310000,20.859000,1.300000,67.920000,0.602000
50%,2.677900e+04,104.000000,130.00000,2.000000,3126.880500,11.294000,15.835000,0.208000,57.410000,9.749625e+06,...,29.700000,6.378000,3.871000,12951.839000,243.811000,7.110000,49.839000,2.400000,74.620000,0.744000
75%,2.614380e+05,1074.000000,1130.71400,18.571000,24579.185500,83.046250,92.656000,1.388000,72.220000,3.734479e+07,...,39.100000,14.178000,8.678000,27216.445000,329.942000,10.080000,83.241000,4.000000,78.740000,0.845000
max,2.503681e+08,907963.000000,826457.57100,14703.286000,237237.103000,8620.690000,3385.473000,94.804000,100.000000,7.874966e+09,...,48.200000,27.049000,18.493000,116935.600000,724.417000,30.530000,100.000000,13.800000,86.750000,0.957000